.input {
  display: block;
  background: $gray-200 0% 0% no-repeat padding-box;
  padding-left: 28px;
  border: 1px solid $gray-300;
  border-radius: 7px;  
  height: 63px;
  color: $gray-500;
  font-size: 16px;
  opacity: 0.45;
}
