.invoice {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  top: 20px;
  flex-flow: column;
  @include respond-to(desktop) {
    top: -35px;
    flex-flow: row;
  }
}

.card {
  margin: 20px 0;
  @include respond-to(desktop) {
    margin: 0 20px;
  }
}

.invoice_table {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}