.form {
  margin-top: 34px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 100%;
  height: auto;
}
.radioGroup {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.radioItem {
  margin-right: 15px;
}