.item {
  display: flex;
  height: 63px;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  border-radius: 8px;
  background: $white;
  padding: 0 20px;
  font-weight: bold ;
}

.description {
  width: 200px ;
}

.value {
  width: 200px ;
}

.category {
  width: 200px ;
}

.date {
  width: 200px ;
}

.expense {
  color: $warning;
}

.income {
  color: $secondary;
}
