.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba($color: black, $alpha: 0.4);
  position: fixed;
  top: 0;
  left: 0;
}
.header {
  display: flex;
  justify-content: space-between;
}
.content {
  background: $white;
  width: 100%;
  max-width: 636px;
  height: 510px;
  border-radius: 8px;
  padding: 28px;
}
.crossicon {
  height: 28px;
  width: 28px;
  cursor: pointer;
}
.wrapper {
  margin-top: 40px;
}

.title {
  font-size: 28px;
  color: $gray-800;
  letter-spacing: 0.73px;
}

.body {
  display: flex;
  width: 100%;
  height: 440px;
}