$white: #FFFFFF;

$purple-800: #30107D;
$purple-700: #401A9B;

$gray-50: #FDFDFD;
$gray-100: #F1F5F8;
$gray-200: #F7F7F7;
$gray-300: #D9D9D9;
$gray-400: #B9B9B9;
$gray-500: #555555;
$gray-600: #4C5A5A;
$gray-700: #484F55;
$gray-800: #4E5555;
$gray-900: #0000009A;

$green-700: #06D7A5;
$green-800: #06D6A2;
$green-900: #06D59F;

$red-800: #DB3766;
$red-900: #E23161;

$primary: $purple-700;
$secondary: $green-700;
$warning: $red-800;

